Utilities/DbDictionaryEditor/DbDictionaryEditor/Service References/ServiceRef/DbDictionaryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/org.iringtools.library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/org.iringtools.library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfScopeProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScopeProject" nillable="true" type="tns:ScopeProject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScopeProject" nillable="true" type="tns:ArrayOfScopeProject" />
  <xs:complexType name="ScopeProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Applications" nillable="true" type="tns:ArrayOfScopeApplication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScopeProject" nillable="true" type="tns:ScopeProject" />
  <xs:complexType name="ArrayOfScopeApplication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScopeApplication" nillable="true" type="tns:ScopeApplication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScopeApplication" nillable="true" type="tns:ArrayOfScopeApplication" />
  <xs:complexType name="ScopeApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasDTOLayer" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScopeApplication" nillable="true" type="tns:ScopeApplication" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
</xs:schema>