sencha-extjs41/Utilities/DbDictionaryEditor/DbDictionaryEditor/Service References/ServiceRef/DbDictionaryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4361/DbDictionaryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/org.iringtools.library" />
  <xs:import schemaLocation="http://localhost:4361/DbDictionaryService.svc?xsd=xsd3" namespace="http://ns.iringtools.org/library" />
  <xs:import schemaLocation="http://localhost:4361/DbDictionaryService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetScopes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScopesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="GetScopesResult" nillable="true" type="q1:ArrayOfScopeProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDbDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDbDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://ns.iringtools.org/library" minOccurs="0" name="GetDbDictionaryResult" nillable="true" type="q2:DatabaseDictionary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabaseSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dbProvider" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabaseSchemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://ns.iringtools.org/library" minOccurs="0" name="GetDatabaseSchemaResult" nillable="true" type="q3:DatabaseDictionary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDabaseDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://ns.iringtools.org/library" minOccurs="0" name="dict" nillable="true" type="q4:DatabaseDictionary" />
        <xs:element minOccurs="0" name="project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDabaseDictionaryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingDbDictionaryFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingDbDictionaryFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetExistingDbDictionaryFilesResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProvidersResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostDictionaryToAdapterService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostDictionaryToAdapterServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="PostDictionaryToAdapterServiceResult" nillable="true" type="q7:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTripleStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTripleStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="ClearTripleStoreResult" nillable="true" type="q8:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/org.iringtools.library" minOccurs="0" name="DeleteAppResult" nillable="true" type="q9:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>